<div class="customers">
  <div class="column">
    <div class="card">
      <div class="card-content">
        <h2 class="subtitle is-2"> <%= customer.full_name  %></h3>
        <% if customer.image.present? %>
          <%= image_tag customer.image %>
        <% end %>
        <%# <%= image_tag(customer.image,size: "212x219") %>

      </div>
      <footer class="card-footer">
        <p class="subtitle is-4 card-footer-item"><%= customer.phone_number %></p>
        <p class="subtitle is-4 card-footer-item"><%= customer.email %></p>
      </footer>
    </div>
  </div>
</div>